{% extends 'base.html.twig' %}
{% block body %}

<div class="row justify-content-center">
    <div class="col-8">
<div style="display: flex; gap: 2rem;">

    <section style="flex: 1;">
        <h1>{{ title }}</h1>

        <h4>Filtrer les sites</h4>

        <form method="get" action="{{ path('admin_sites_list') }}">
            <label for="search">Le nom contient :</label>
            <input type="text" name="search" id="search" value="{{ app.request.get('search') }}">
            <button class="btn btn-success" type="submit">Rechercher</button>
        </form>

        <a href="{{ path('admin_sites_add') }}" class="btnAdd">Ajouter un site</a>

        <table class="table">
            <thead>
            <tr>
                <th>Ville</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for site in sites %}
                <tr>
                    <td>{{ site.nom }}</td>

                    <td>
                        <a class="btnMod" href="{{ path('admin_sites_edit', { 'id': site.id }) }}">Modifier</a>
                        <a class="btnMod" href="{{ path('admin_sites_delete', { 'id': site.id }) }}" onclick="return confirm('Supprimer ce site ?')">Supprimer</a>
                    </td>
                </tr>
            {% else %}
                <tr><td colspan="3">Aucun site trouvé.</td></tr>
            {% endfor %}
            </tbody>
        </table>
    </section>
</div>
    </div>
</div>

{% endblock %}
