{% extends 'base.html.twig' %}

{% block body %}
    <h1>Créer un utilisateur</h1>

    {{ form_start(form) }}
    {{ form_row(form.email) }}
    {{ form_row(form.nom) }}
    {{ form_row(form.prenom) }}

    <button type="submit" class="btn btn-success">Créer</button>
    {{ form_end(form) }}
{% endblock %}
