{% extends 'base.html.twig' %}

{% block body %}
    <h1>Liste des utilisateurs</h1>

<table class="table table-hover table-dark">
    <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col">Email</th>
        <th scope="col">Rôle</th>
        <th scope="col">Pseudo</th>
        <th scope="col">Nom</th>
        <th scope="col">Prénom</th>
        <th scope="col">Profil complété</th>
        <th scope="col">Actif ?</th>
    </tr>
    </thead>
    <tbody>

           {% for user in users %}
           <tr>

               <td>{{ user.id }}</td>
               <td>{{ user.email }}<br><a href="{{ path('admin_user_delete',{'id':user.id}) }}" class="btnMod" onclick="return confirm('Etes-vous sur de vouloir supprimer {{ user.email }}?')">Supprimer utilisateur</a></td>

               {% if user.roles == ["ROLE_USER"] %}
                   <td>Uilisateur</td>
               {% else %}
                   <td><strong>Administrateur</strong></td>
               {% endif %}
               <td>
                   <a class="lien_profil" title="Voir profil"
                       href="{{ path('user_profil',{'id':user.id}) }}">{{ user.pseudo }}
                       <i class="bi bi-box-arrow-in-right fs-4" ></i></a>
               </td>
               <td>{{ user.nom }}</td>
               <td>{{ user.prenom }}</td>
               {% if user.profileCompleted %}
               <td><i class="bi bi-check-circle"></i></td>
               {% else %}
                   <td> <i class="bi bi-x-circle"></i></td>
               {% endif %}
               {% if user.isActif %}
               <td><a href="{{ path('admin_user_disable',{'id':user.id}) }}"  class="btnMod" onclick="return confirm('Etes-vous sur de vouloir désactiver {{ user.email }}?')">Désactiver</a></td>
                   {% else %}
               <td><a href="{{ path('admin_user_active',{'id':user.id}) }}" class="btnAcc">Réactiver</a></td>
               {% endif %}


           </tr>
            {% endfor %}
    </tbody>
</table>


{% endblock %}
