{% extends 'base.html.twig' %}
{% block body %}
<h1>Afficher une sortie</h1>

<p>Date et heure : {{ sortie.dateHeureDebut|date('d/m/Y H:i') }}</p>
<p>Durée : {{ sortie.duree }} minutes</p>
<p>Date limite d'inscription : {{ sortie.dateLimiteInscription|date('d/m/Y') }}</p>
<p>Nombre de places : {{ sortie.nbInscriptionsMax }}</p>

<h2>Lieu</h2>
<p>Ville : {{ sortie.lieu.ville.nom }}</p>
<p>Rue : {{ sortie.lieu.rue }}</p>
<p>Code postal : {{ sortie.lieu.ville.codePostal }}</p>
<p>Latitude : {{ sortie.lieu.latitude }}</p>
<p>Longitude : {{ sortie.lieu.longitude }}</p>

<h2>Description</h2>
<p>{{ sortie.infosSortie }}</p>

<h2>Participants inscrits</h2>
<ul>
    {% for user in sortie.users %}
        <li>{{ user.pseudo }} - {{ user.nom }}</li>
    {% else %}
        <li>Aucun participant inscrit</li>
    {% endfor %}
</ul>
{% endblock %}