{% extends 'base.html.twig' %}

{% block body %}
    <h1>Créer une sortie pour le campus de {{ user.site.nom }}</h1>

    <div class="row justify-content-center">
        <div class="col-4">

            {{ form_start(sortie_form) }}
            <div>
                {{ form_row(sortie_form.nom) }}

            </div>
            <div>
                {{ form_row(sortie_form.dateHeureDebut) }}
            </div>
            <div>
                {{ form_row(sortie_form.dateLimiteInscription) }}
            </div>
            <div>
                {{ form_row(sortie_form.nbInscriptionsMax) }}
            </div>
            <div>
                {{ form_row(sortie_form.duree) }}
            </div>
            <div>
                {{ form_row(sortie_form.infosSortie) }}
            </div>

            <div>
                {{ form_errors(sortie_form.lieu) }}
                {{ form_label(sortie_form.lieu) }}
                <button type="button" class="btnAdd" data-bs-toggle="modal" data-bs-target="#modalCreateLieu">
                    +
                </button>
                {{ form_widget(sortie_form.lieu) }}

            </div>


            <div id="lieu-details" style="margin-top: 1em;">

            </div>

            <button type="submit" name="submit_sortie" class="btn btn-success">Créer sortie</button>
            {{ form_end(sortie_form) }}
        </div>
    </div>

    <div class="modal fade" id="modalCreateLieu" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Créer un lieu</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>
                <div class="modal-body">

                    <h1>Créer un lieu</h1>
                    {#                    {{ form_start(lieu_form) }}#}
                    <form id="lieu-form" action="{{ path('sortie_lieu_add') }}" method="POST" data-turbo="false">

                        {{ form_row(lieu_form._token) }}
                        {{ form_row(lieu_form.nom) }}
                        {{ form_row(lieu_form.rue) }}
                        {{ form_row(lieu_form.ville) }}
                        {{ form_row(lieu_form.latitude) }}
                        {{ form_row(lieu_form.longitude) }}
                        <button type="submit" name="submit_lieu" class="btn btn-dark">Ajouter le lieu</button>
                        {#                    {{ form_end(lieu_form) }}#}
                    </form>

                </div>
            </div>
        </div>
    </div>
    <script src="{{ asset('js/lieu_script.js') }}" defer></script>



    <script src="{{ asset('js/sortie_script.js') }}" defer></script>


{% endblock %}
