{% extends 'base.html.twig' %}

{% block title %}Hello SortieController!{% endblock %}

{% block body %}
    <section>

        <div>Date du jour :</div>
        {% if user==null %}
            <div> Vous devez vous connecter !!</div>
        {% else %}
            <div> Participant : {{ user.prenom }} {{ user.nom |first }}.</div>

        {% endif %}

    </section>

    <h2>Filtrer les sorties</h2>
    <div>
        {{ form_start(form_filtre) }}
        <div>
            {{ form_label(form_filtre.site) }}
            {{ form_widget(form_filtre.site) }}
        </div>
        <div>
            {{ form_label(form_filtre.rechercheNom) }}
            {{ form_widget(form_filtre.rechercheNom) }}
        </div>
        <div>
            <label>Entre le :</label>
            {{ form_widget(form_filtre.dateDebut) }}
            <label>et </label>
            {{ form_widget(form_filtre.dateFin) }}
        </div>
        <div>
            {{ form_label(form_filtre.organisateur) }}
            {{ form_widget(form_filtre.organisateur) }}
        </div>
        <div>
            {{ form_label(form_filtre.participant) }}
            {{ form_widget(form_filtre.participant) }}
        </div>
        <div>
            {{ form_label(form_filtre.nonParticipant) }}
            {{ form_widget(form_filtre.nonParticipant) }}
        </div>
        <div>
            {{ form_label(form_filtre.sortiesPassees) }}
            {{ form_widget(form_filtre.sortiesPassees) }}
        </div>
        <div>
            {{ form_label(form_filtre.submit) }}
            {{ form_widget(form_filtre.submit) }}
        </div>

        {{ form_end(form_filtre) }}

    </div>

    <section class="sortie-list">
        {% for sortie in sorties %} #}
            <div>
                {{ sortie.nom }}
{#                {{ sortie.dateHeureDebut|date('d/m/Y') }}#}
{#                {{ sortie.dateLimiteInscription|date('d/m/Y') }}#}
                {{ sortie.users|length }} / {{ sortie.nbInscriptionsMax }}
                {{ sortie.etat.libelle }}
                {% if user in sortie.users %}#}
                    X
                {% else %}
                {% endif %}
                {{ sortie.organisateur.prenom }} {{ sortie.organisateur.nom |first }}.
                {% if  sortie.etat!="En création" %}
                    <button type="button" class="btn btn-danger" data-bs-toggle="modal"
                            data-bs-target="#modalDesistement"
                            data-id="{{ sortie.id }}" data-nom="{{ sortie.nom }}">
                        Se désister
                    </button>
                {% endif %}
                {% if user in sortie.users %}#}
                    <button type="button" class="btn btn-danger" data-bs-toggle="modal"
                            data-bs-target="#modalDesistement"
                            data-id="{{ sortie.id }}" data-nom="{{ sortie.nom }}">
                        Se désister
                    </button>
                {% else %}
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                            data-bs-target="#modalInscription"
                            data-id="{{ sortie.id }}" data-nom="{{ sortie.nom }}">
                        S'inscrire
                    </button>
                {% endif %}
                {% if sortie.organisateur == user and sortie.etat!="Ouverte" %}
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                            data-bs-target="#modalModification"
                            data-id="{{ sortie.id }}" data-nom="{{ sortie.nom }}">
                        Modifier
                    </button>
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                            data-bs-target="#modalPublication"
                            data-id="{{ sortie.id }}" data-nom="{{ sortie.nom }}">
                        Publier
                    </button>
                {% else %}
                    <button type="button" class="btn btn-danger" data-bs-toggle="modal"
                            data-bs-target="#modalAnnulation"
                            data-id="{{ sortie.id }}" data-nom="{{ sortie.nom }}">
                        Annuler
                    </button>
                {% endif %}
            </div>
        {% endfor %}
    </section>


    {#    <table> #}
    {#        <tr> #}
    {#            <th>Nom de la sortie</th> #}
    {#            <th>Date de la sortie</th> #}
    {#            <th>Clôture d'inscription</th> #}
    {#            <th>Inscrit(s)/Places</th> #}
    {#            <th>État</th> #}
    {#            <th>Inscrit</th> #}
    {#            <th>Organisateur</th> #}
    {#            <th>Actions</th> #}
    {#        </tr> #}
    {#        {% for sortie in sorties %} #}
    {#            <tr> #}
    {#            <th>{{ sortie.nom }}</th> #}
    {#            <th>{{ sortie.dateHeureDebut|date('d/m/Y') }}</th> #}
    {#            <th>{{ sortie.dateLimiteInscription|date('d/m/Y') }}</th> #}
    {#            <th>{{ sortie.users|length }} / {{ sortie.nbInscriptionsMax }}</th> #}
    {#            <th>{{ sortie.etat.libelle }}</th> #}
    {#            <th>{% if user in sortie.users %} #}
    {#                    X #}
    {#                    #}{#                    {% else %} #}
    {#                {% endif %} #}
    {#            </th> #}
    {#            <th> #}
    {#                    {{ sortie.organisateur.prenom }} {{ sortie.organisateur.nom |first }}. #}
    {#            </th> #}
    {#            <th> #}
    {#            <a href="{{ path('sortie_detail', {id: sortie.id}) }}">Voir</a> #}
    {#            <a href="{{ path('sortie_annuler', {id: sortie.id}) }}">Annuler</a> #}
    {#            <a href="{{ path('sortie_inscription', {id: sortie.id}) }}">S'inscrire</a> #}
    {#            <a href="{{ path('sortie_desistement', {id: sortie.id}) }}">Ss désister</a> #}
    {#            {% if user in sortie.users %} #}
    {#            <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#modalDesistement" #}
    {#                    data-id="{{ sortie.id }}" data-nom="{{ sortie.nom }}"> #}
    {#                Se désister #}
    {#            </button> #}
    {#            {% else %} #}
    {#                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modalInscription" #}
    {#                        data-id="{{ sortie.id }}" data-nom="{{ sortie.nom }}"> #}
    {#                    S'inscrire #}
    {#                </button> #}
    {#            {% endif %} #}
    {#            {% if sortie.organisateur == user and sortie.etat!="Ouverte"%} #}
    {#                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modalModification" #}
    {#                        data-id="{{ sortie.id }}" data-nom="{{ sortie.nom }}"> #}
    {#                    Modifier #}
    {#                </button> #}
    {#                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modalPublication" #}
    {#                        data-id="{{ sortie.id }}" data-nom="{{ sortie.nom }}"> #}
    {#                    Publier #}
    {#                </button> #}
    {#            {% else %} #}
    {#                <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#modalAnnulation" #}
    {#                        data-id="{{ sortie.id }}" data-nom="{{ sortie.nom }}"> #}
    {#                    Annuler #}
    {#                </button> #}
    {#            {% endif %} #}
    {#            </tr> #}
    {#        {% endfor %} #}
    {#    </table> #}
    
    <a href="{{ path('sortie_edit') }}">
        <button class="btn btn-success" type="button">CRÉER UNE SORTIE</button>
    </a>

{% endblock %}
