{% extends 'base.html.twig' %}

{% block title %}Hello SortieController!{% endblock %}

{% block body %}
<section>
    <div>Date du jour : </div>
    <div>Participant : {{ user.prenom }} {{ user.nom |first }}.</div>
</section>

    <h2>Filtrer les sorties</h2>
    <div>
        {{ form_start(form_filtre) }}
        <div>
            {{ form_label(form_filtre.site) }}
            {{ form_widget(form_filtre.site) }}
        </div>
        <div>
            {{ form_label(form_filtre.rechercheNom) }}
            {{ form_widget(form_filtre.rechercheNom) }}
        </div>
        <div>
            <label>Entre le :</label>
             {{ form_widget(form_filtre.dateDebut) }}
            <label>et </label>
            {{ form_widget(form_filtre.dateFin) }}
        </div>
        <div>
            {{ form_label(form_filtre.organisateur) }}
            {{ form_widget(form_filtre.organisateur) }}
        </div>
        <div>
            {{ form_label(form_filtre.participant) }}
            {{ form_widget(form_filtre.participant) }}
        </div>
        <div>
            {{ form_label(form_filtre.nonParticipant) }}
            {{ form_widget(form_filtre.nonParticipant) }}
        </div>
        <div>
            {{ form_label(form_filtre.sortiesPassees) }}
            {{ form_widget(form_filtre.sortiesPassees) }}
        </div>
        <div>
            {{ form_label(form_filtre.submit) }}
            {{ form_widget(form_filtre.submit) }}
        </div>

        {{ form_end(form_filtre) }}


    </div>





    <table>
        <tr>
            <th>Nom de la sortie</th>
            <th>Date de la sortie</th>
            <th>Clôture d'inscription</th>
            <th>Inscrit(s)/Places</th>
            <th>État</th>
            <th>Inscrit</th>
            <th>Organisateur</th>
            <th>Actions</th>
        </tr>

        {% for sortie in sorties %}
            <tr>
               {# <th>{{ sortie.nom }}</th>
                <th>{{ sortie.dateHeureDebut|date('d/m/Y') }}</th>
                <th>{{ sortie.dateLimiteInscription|date('d/m/Y') }}</th>
                <th>Todo "sortie.participant.length" / {{ sortie.nbInscriptionsMax }}  </th>
                <th>{{ sortie.etat }}  </th>
                <th>Todo "Inscrit"</th>
                <th>Todo "Organisateur"</th>
                <th>Todo "Actions"</th>

               #}

                <th>{{ sortie.nom }}</th>
                <th>{{ sortie.dateHeureDebut|date('d/m/Y') }}</th>
                <th>{{ sortie.dateLimiteInscription|date('d/m/Y') }}</th>
                <th>{{ sortie.users|length }} / {{ sortie.nbInscriptionsMax }}</th>
                <th>{{ sortie.etat.libelle }}</th>
                <th>{% if user in sortie.users %}{% else %}{% endif %}</th>
                <th>{{ sortie.organisateur.prenom }} {{ sortie.organisateur.nom }}</th>
                <th>
                    <a href="{{ path('sortie_detail', {id: sortie.id}) }}">Voir</a>
                    {% if sortie.organisateur == user %}
                        | <a href="{{ path('sortie_annuler', {id: sortie.id}) }}">Annuler</a>
                    {% endif %}
                </th>
            </tr>
        {% endfor %}

    </table>
    <a href="{{ path('sortie_edit') }}">
        <button href="" class="btn btn-success" type="button">CRÉER UNE SORTIE</button>
    </a>

{% endblock %}
