{% extends 'base.html.twig' %}

{% block title %}Liste des sorties!{% endblock %}

{% block body %}
    <section>

        <div class="larger">
            <div>Date du jour :</div>
            {% if user==null %}
                <div> Vous devez vous connecter !!</div>
            {% else %}
                <div> Participant : {{ user.prenom }} {{ user.nom |first }}.</div>

            {% endif %}
        </div>
    </section>

    <h1>Filtrer les sorties</h1>
    <div class="row justify-content-center">
        <div class="col-6">
            <div>
                {{ form_start(form_filtre) }}
                <div>
                    {{ form_label(form_filtre.site) }}
                    {{ form_widget(form_filtre.site) }}
                </div>
                <div>
                    {{ form_label(form_filtre.rechercheNom) }}
                    {{ form_widget(form_filtre.rechercheNom) }}
                </div>
                <div>
                    <label>Entre le :</label>
                    {{ form_widget(form_filtre.dateDebut) }}
                    <label>et </label>
                    {{ form_widget(form_filtre.dateFin) }}
                </div>
                <div>
                    {{ form_label(form_filtre.organisateur) }}
                    {{ form_widget(form_filtre.organisateur) }}
                </div>
                <div>
                    {{ form_label(form_filtre.participant) }}
                    {{ form_widget(form_filtre.participant) }}
                </div>
                <div>
                    {{ form_label(form_filtre.nonParticipant) }}
                    {{ form_widget(form_filtre.nonParticipant) }}
                </div>
                <div>
                    {{ form_label(form_filtre.sortiesPassees) }}
                    {{ form_widget(form_filtre.sortiesPassees) }}
                </div>
                <div>
                    {{ form_label(form_filtre.submit) }}
                    {{ form_widget(form_filtre.submit) }}
                </div>


                {{ form_end(form_filtre) }}

            </div>
        </div>
    </div>

    <div class="row">
        {% for sortie in sorties %}
            <div class="col-md-4 mb-4">
                <div class="card h-100">
                    <div class="card-body d-flex flex-column">
                        <h5 class="card-title">{{ sortie.nom }}</h5>
                        <p class="card-text mb-1"><strong>Date de la sortie
                                :</strong> {{ sortie.dateHeureDebut|date('d/m/Y') }}</p>
                        <p class="card-text mb-1"><strong>Clôture d'inscription
                                :</strong> {{ sortie.dateLimiteInscription|date('d/m/Y') }}</p>
                        <p class="card-text mb-1"><strong>Inscrits / Places :</strong> {{ sortie.users|length }}
                            / {{ sortie.nbInscriptionsMax }}</p>
                        <p class="card-text mb-1"><strong>État :</strong> {{ sortie.etat.libelle }}</p>
                        {% if sortie.etat.libelle == 'Annulée' %}
                            <p class="card-text mb-1"><strong>Raison : {{ sortie.raisonAnnulation }}</strong> </p>
                        {% endif %}
                        <p class="card-text mb-3"><strong>Organisateur
                                :</strong> {{ sortie.organisateur.prenom }} {{ sortie.organisateur.nom|first }}.</p>

                        <div class="mt-auto">
                            {% if  sortie.etat.libelle != "Activité en cours" or sortie.etat.libelle != "En création" %}
                                <button type="button" class="btnMod"
                                        onclick="window.location.href='{{ path('sortie_detail', { id: sortie.id }) }}'">
                                    Afficher
                                </button>
                            {% endif %}

                            {% if sortie.etat.libelle != "Clôturée" and sortie.etat.libelle != "Annulée"  and sortie.etat.libelle != "En création"%}
                                {% if  sortie.organisateur != user %}
                                    {% if (sortie.etat.libelle != "En création" and user in sortie.users) %}
                                        <button type="button" class="btnMod" data-bs-toggle="modal"
                                                data-bs-target="#modalDesistement"
                                                data-id="{{ sortie.id }}" data-nom="{{ sortie.nom }}">
                                            Se désister
                                        </button>
                                    {% else %}
                                        <button type="button" class="btnAcc" data-bs-toggle="modal"
                                                data-bs-target="#modalInscription"
                                                data-id="{{ sortie.id }}" data-nom="{{ sortie.nom }}">
                                            S'inscrire
                                        </button>
                                    {% endif %}

                                {% endif %}
                            {% endif %}


                            {% if sortie.organisateur == user and sortie.etat.libelle == "En création" %}
                                <button type="button" class="btnMod"
                                        onclick="window.location.href='{{ path('sortie_update', { id: sortie.id }) }}'">
                                    Modifier
                                </button>
                                <button type="button" class="btnAcc"
                                        onclick="window.location.href='{{ path('sortie_publication', { id: sortie.id }) }}'">
                                    Publier
                                </button>
                            {% endif %}
                            {% if (is_granted('ROLE_ADMIN') or sortie.organisateur == user) and sortie.etat.libelle == "Ouverte" %}
                                <button type="button" class="btnMod" data-bs-toggle="modal"
                                        data-bs-target="#modalAnnulation"
                                        data-id="{{ sortie.id }}" data-nom="{{ sortie.nom }}">
                                    Annuler
                                </button>
                            {% endif %}
                        </div>
                    </div>
                </div>

            </div>
        {% endfor %}
    </div>

    <div class="modal fade" id="modalInscription" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalLabel">Confirmation d'inscription</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fermer"></button>
                </div>
                <div class="modal-body">
                    <p>Voulez-vous vous inscrire à la sortie <strong id="sortieNom"></strong> ?</p>
                </div>
                <div class="modal-footer">
                    <form id="inscriptionForm" method="post" action="">
                        <input type="hidden" name="sortie_id" id="sortieIdInput">
                        <button type="button" class="btnMod" data-bs-dismiss="modal">Annuler</button>
                        <button type="submit" class="btnAcc">Confirmer</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <script>
        function inscription() {
            const modal = document.getElementById('modalInscription');
            modal.addEventListener('show.bs.modal', function (event) {
                const button = event.relatedTarget;
                const sortieId = button.getAttribute('data-id');
                const sortieNom = button.getAttribute('data-nom');
                document.getElementById('sortieNom').textContent = sortieNom;
                document.getElementById('sortieIdInput').value = sortieId;

                document.getElementById('inscriptionForm').action = '/sortie/' + sortieId + '/inscription';
            });
        }
        if (document.readyState === 'loading') {
            document.addEventListener('DOMContentLoaded', inscription);
        } else {
            inscription();
        }

    </script>

    <div class="modal fade" id="modalDesistement" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalLabel">Confirmation de désistement</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fermer"></button>
                </div>
                <div class="modal-body">
                    <p>Voulez-vous vous désister de la sortie <strong id="sortieNom"></strong> ?</p>
                </div>
                <div class="modal-footer">
                    <form id="desistementForm" method="post" action="">
                        <input type="hidden" name="sortie_id" id="sortieIdInput">
                        <button type="button" class="btnMod" data-bs-dismiss="modal">Annuler</button>
                        <button type="submit" class="btnAcc">Confirmer</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <script>
        function desistement() {
            const modal = document.getElementById('modalDesistement');
            modal.addEventListener('show.bs.modal', function (event) {
                const button = event.relatedTarget;
                const sortieId = button.getAttribute('data-id');
                const sortieNom = button.getAttribute('data-nom');

                document.getElementById('sortieNom').textContent = sortieNom;
                document.getElementById('sortieIdInput').value = sortieId;

                document.getElementById('desistementForm').action = '/sortie/' + sortieId + '/desistement';
            });

        }
        if (document.readyState === 'loading') {
            document.addEventListener('DOMContentLoaded', desistement);
        } else {
            desistement();
        }
    </script>

    <div class="modal fade" id="modalAnnulation" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <form id="annulationForm" method="post" action="">
                    <div class="modal-header">
                        <h5 class="modal-title" id="modalLabel">Annuler la sortie</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fermer"></button>
                    </div>
                    <div class="modal-body">
                        <p>Annuler la sortie <strong id="sortieNom"></strong></p>
                        <div class="mb-3">
                            <label for="raison_annulation" class="form-label">Raison :</label>
                            <textarea name="raison_annulation" id="raison_annulation" class="form-control"
                                      required></textarea>
                        </div>
                        <input type="hidden" name="_token" id="csrfTokenInput">
                    </div>
                    <div class="modal-footer">
                        <form id="annulationForm" method="post" action="">
                            <input type="hidden" name="sortie_id" id="sortieIdInput">
                            <button type="button" class="btnMod" data-bs-dismiss="modal">Annuler</button>
                            <button type="submit" class="btnAcc">Confirmer</button>
                        </form>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <script>
        function annulation() {
            const modal = document.getElementById('modalAnnulation');
            modal.addEventListener('show.bs.modal', function (event) {
                const button = event.relatedTarget;
                const sortieId = button.getAttribute('data-id');
                const sortieNom = button.getAttribute('data-nom');

                document.getElementById('sortieNom').textContent = sortieNom;
                document.getElementById('sortieIdInput').value = sortieId;

                document.getElementById('annulationForm').action = '/sortie/' + sortieId + '/annulation';
            });
        }
        if (document.readyState === 'loading') {
            document.addEventListener('DOMContentLoaded', annulation);
        } else {
            annulation();
        }
    </script>


    {#    <table> #}
    {#        <tr> #}
    {#            <th>Nom de la sortie</th> #}
    {#            <th>Date de la sortie</th> #}
    {#            <th>Clôture d'inscription</th> #}
    {#            <th>Inscrit(s)/Places</th> #}
    {#            <th>État</th> #}
    {#            <th>Inscrit</th> #}
    {#            <th>Organisateur</th> #}
    {#            <th>Actions</th> #}
    {#        </tr> #}
    {#        {% for sortie in sorties %} #}
    {#            <tr> #}
    {#            <th>{{ sortie.nom }}</th> #}
    {#            <th>{{ sortie.dateHeureDebut|date('d/m/Y') }}</th> #}
    {#            <th>{{ sortie.dateLimiteInscription|date('d/m/Y') }}</th> #}
    {#            <th>{{ sortie.users|length }} / {{ sortie.nbInscriptionsMax }}</th> #}
    {#            <th>{{ sortie.etat.libelle }}</th> #}
    {#            <th>{% if user in sortie.users %} #}
    {#                    X #}
    {#                    #}{#                    {% else %} #}
    {#                {% endif %} #}
    {#            </th> #}
    {#            <th> #}
    {#                    {{ sortie.organisateur.prenom }} {{ sortie.organisateur.nom |first }}. #}
    {#            </th> #}
    {#            <th> #}
    {#            <a href="{{ path('sortie_detail', {id: sortie.id}) }}">Voir</a> #}
    {#            <a href="{{ path('sortie_annuler', {id: sortie.id}) }}">Annuler</a> #}
    {#            <a href="{{ path('sortie_inscription', {id: sortie.id}) }}">S'inscrire</a> #}
    {#            <a href="{{ path('sortie_desistement', {id: sortie.id}) }}">Ss désister</a> #}
    {#            {% if user in sortie.users %} #}
    {#            <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#modalDesistement" #}
    {#                    data-id="{{ sortie.id }}" data-nom="{{ sortie.nom }}"> #}
    {#                Se désister #}
    {#            </button> #}
    {#            {% else %} #}
    {#                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modalInscription" #}
    {#                        data-id="{{ sortie.id }}" data-nom="{{ sortie.nom }}"> #}
    {#                    S'inscrire #}
    {#                </button> #}
    {#            {% endif %} #}
    {#            {% if sortie.organisateur == user and sortie.etat!="Ouverte"%} #}
    {#                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modalModification" #}
    {#                        data-id="{{ sortie.id }}" data-nom="{{ sortie.nom }}"> #}
    {#                    Modifier #}
    {#                </button> #}
    {#                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modalPublication" #}
    {#                        data-id="{{ sortie.id }}" data-nom="{{ sortie.nom }}"> #}
    {#                    Publier #}
    {#                </button> #}
    {#            {% else %} #}
    {#                <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#modalAnnulation" #}
    {#                        data-id="{{ sortie.id }}" data-nom="{{ sortie.nom }}"> #}
    {#                    Annuler #}
    {#                </button> #}
    {#            {% endif %} #}
    {#            </tr> #}
    {#        {% endfor %} #}
    {#    </table> #}

    {#    <a href="{{ path('sortie_edit') }}"> #}
    {#        <button href="" class="btn btn-success" type="button">CREER UNE SORTIE</button> #}
    {#    </a> #}

{% endblock %}
