{% block title %}Inscription à la sortie {{ sortie.nom }} {% endblock %}

{% block body %}

    <p>Bonjour {{ user.pseudo }},</p>

    <p>Vous êtes bien inscrit(e) à la sortie suivante :</p>

    <ul>
        <li><strong>Titre :</strong> {{ sortie.nom }}</li>
        <li><strong>Date :</strong> {{ sortie.dateHeureDebut|date('d/m/Y H:i') }}</li>
        <li><strong>Lieu :</strong> {{ sortie.lieu.nom }}</li>
        <li><strong>Description :</strong> {{ sortie.infosSortie }}</li>
    </ul>

    <p>Merci de votre participation !</p>

    <p>Cordialement,<br>
        L'équipe Campus ENI</p>


{% endblock %}