{% block title %}Désistement à la sortie {{ sortie.nom }} {% endblock %}

{% block body %}

    <p>Bonjour {{ user.pseudo }},</p>

    <p>Vous avez fait la demande de désistement à la sortie suivante :</p>

    <ul>
        <li><strong>Titre :</strong> {{ sortie.nom }}</li>
        <li><strong>Date :</strong> {{ sortie.dateHeureDebut|date('d/m/Y H:i') }}</li>
        <li><strong>Lieu :</strong> {{ sortie.lieu.nom }}</li>
        <li><strong>Description :</strong> {{ sortie.infosSortie }}</li>
    </ul>

    <p>Nous espérons vous voir lors d'une prochaine sortie</p>

    <p>Cordialement,<br>
        L'équipe Campus ENI</p>


{% endblock %}