{% extends 'base.html.twig' %}

{% block title %}Créer groupe{% endblock %}

{% block body %}
    <div class="row justify-content-center">
        <div class="col-8">

            <h1>Créer un groupe privé</h1>

            {{ form_start(groupeprive_form) }}
            {{ form_row(groupeprive_form.nom) }}
            {{ form_row(groupeprive_form.user, {'attr': {'class': 'select2'}}) }}

            <button type="submit" name="submit_groupe_prive" class="btn btn-success">Créer</button>
            <button type="button" onclick="window.location.href='{{ path('groupe_prive') }}'" class="btn btn-secondary">Retour</button>
            {{ form_end(groupeprive_form) }}


        </div>
    </div>


{% endblock %}
