{% extends 'base.html.twig' %}

{% block title %}Profil de {{ user.pseudo }}{% endblock %}

{% block body %}
    <h1>Modifier mon profil</h1>
    <div class="row justify-content-center">
        <div class="col-4">

            {{ form_start(form_User, {'attr': {'data-turbo': 'false'}}) }}
            {% if user.photo %}
                <img src="{{ asset('uploads/photo/' ~ user.photo) }}" alt="Photo de profil" class="img-thumbnail" style="max-width: 220px; height: auto;">
            {% else %}
                <img src="{{ asset('uploads/photo/default.jpg') }}" alt="Image par défaut" class="img-thumbnail" style="max-width: 220px; height: auto;">
            {% endif %}
            {{ form_row(form_User.photo) }}
            {{ form_row(form_User.site) }}
            {{ form_row(form_User.email) }}
            {{ form_row(form_User.nom) }}
            {{ form_row(form_User.prenom) }}
            {{ form_row(form_User.pseudo) }}
            {{ form_row(form_User.telephone) }}
            {{ form_row(form_User.password) }}
            {{ form_widget(form_User._token) }}

            <button type="submit" class="btn btn-success">Enregistrer</button>
            {{ form_end(form_User, {'render_rest': false}) }}

        </div>
    </div>
{% endblock %}